In [1]:
from datascience import *
import numpy as np

%matplotlib inline
import matplotlib.pyplot as plots
plots.style.use('fivethirtyeight')

## Words of Caution ##
- Remember to run the cell above. It's for setting up the environment so you can have access to what's needed for this lecture. For now, don't worry about what it means: we'll learn more about what's inside of it in the next few lectures.
- Data science is not just about code, so please don't go over this notebook by itself. Have the relevant textbook sections or lecture video at hand so that you can go over the discussion along with the code. Thank you!

## Python ##

In [2]:
2 + 9

11

In [3]:
2 * 9

18

In [4]:
2 / 9

0.2222222222222222

In [5]:
2 + 3 * 9

29

In [6]:
(2 + 3) * 9

45

In [7]:
# two to the power of four: 2 * 2 * 2 * 2
2 ** 4

16

In [8]:
'hello'

'hello'

## Names ##

In [9]:
a = 4

In [10]:
a

4

In [11]:
b = 9

In [12]:
b

9

In [13]:
a * 3

12

In [14]:
total = a + b

In [15]:
total

13

In [16]:
a = 10

In [17]:
total

13

In [18]:
total = a + b

In [19]:
total

19

In [20]:
'total'

'total'

### Why Names?

In [21]:
hours_per_week = 40
weeks_per_year = 52

In [22]:
hours_per_year = hours_per_week * weeks_per_year

In [23]:
hours_per_year

2080

In [24]:
# Minimum wage for businesses w/26 or more employees
# Goes up by $1/hr until 2022
ca_hourly_minimum_wage = 13.00

In [25]:
weekly_wages = hours_per_week * ca_hourly_minimum_wage
weekly_wages

520.0

In [26]:
yearly_wages = hours_per_year * ca_hourly_minimum_wage
yearly_wages

27040.0

In [27]:
40 * 13.00

520.0

In [28]:
40 * 52 * 13.00

27040.0

## Functions and Call Expressions

In [29]:
abs(-5)

5

In [30]:
abs(1 - 3)

2

In [31]:
day_temp = 52
night_temp = 47
abs(night_temp - day_temp)

5

In [32]:
min(14, 15)

14

In [33]:
round(123.456)

123

In [34]:
round(123.456, 1)

123.5

In [35]:
round(123.456, ndigits=1)

123.5

## Tables ##

In [36]:
cones = Table.read_table('data/cones.csv')
cones

Flavor     | Color       | Price
strawberry | pink        | 3.55
chocolate  | light brown | 4.75
chocolate  | dark brown  | 5.25
strawberry | pink        | 5.25
chocolate  | dark brown  | 5.25
bubblegum  | pink        | 4.75

In [37]:
cones.show(3)

In [38]:
cones.show()

In [39]:
cones.select('Flavor')

Flavor
strawberry
chocolate
chocolate
strawberry
chocolate
bubblegum

In [40]:
cones.select('Flavor', 'Price')

Flavor     | Price
strawberry | 3.55
chocolate  | 4.75
chocolate  | 5.25
strawberry | 5.25
chocolate  | 5.25
bubblegum  | 4.75

In [41]:
cones.select(Flavor, 'Price')

NameError: name 'Flavor' is not defined

In [ ]:
cones.drop('Price')

In [ ]:
cones

In [ ]:
cones_without_price = cones.drop('Price')
cones_without_price

In [ ]:
cones.where('Flavor', 'chocolate')

In [ ]:
cones.sort('Price')

In [ ]:
cones.sort('Price', descending=True)

In [ ]:
cones.sort('Flavor', descending=True)

### A more interesting table

In [ ]:
skyscrapers = Table.read_table('data/skyscrapers.csv')
skyscrapers

In [ ]:
skyscrapers.where('city', 'Los Angeles')

In [ ]:
skyscrapers.where('name', 'Empire State Building')

In [ ]:
skyscrapers.where('city', 'New York City').sort('completed')

In [ ]:
skyscrapers.where('city', 'New York City').sort('completed', descending=True)